[2021-11-01 14:24] karvulf opened #4 "Enable Scrolling while dragging item"
When there are lot of items, it would be  a nice feature if there is an option to enable scrolling down or up while dragging an item.

[2021-11-01 19:41] aytunch opened #5 "Support reordering with animation for programatic changes to the data source"
In my app, I don't need the user to reorder the contents but they are done when some filters are enabled.

Use case:

- Grids show cars.
- When user presses red color, I want to show only the red colored cars
- And I want this filtering to happen in an animated way.
- So there might be several cars that are removed from different places of the cars array.
- When the filter is removed, all cars sho

[2021-11-01 21:20] RobinNerg commented on #5
Hello @aytunch

Thank you for your reply. Currently this functionality is not supported.
In general, if the size of children changes, there is no animation in the GridView or Wrap that I use.

But I like the idea that you have. I will try to implement a solution for this kind of feature.

[2021-11-01 21:21] karvulf commented on #5
Hello @aytunch

Thank you for your reply. Currently this functionality is not supported.
In general, if the size of children changes, there is no animation in the GridView or Wrap that I use.

But I like the idea that you have. I will try to implement a solution for this kind of feature.

[2021-11-01 21:24] aytunch commented on #5
Thanks for the quick reply, please share here if you get to work on it.
And I could help as much as possible if needed :)

[2021-11-03 20:10] karvulf commented on #5
I have some updates about your request @aytunch.
I created a new branch called `feature/children-size-change-with-animation-v2`.

There are still some tests that I have to add and to fix and also some points in my code that needs a refactoring, but if you are interested, you can check out this branch with the following code in your `pubspec.yaml`:

[code]

[2021-11-12 10:53] timonaldenhoff opened #7 "RefreshIndicator problems with ReorderableGridView"
In my app, I use an Refreshindicator to reload data and it worked fine with the normal GridView.

I use the ReorderableWrap when the display is too small for > 1 columns. There are no problems with the RefreshIndicator.

Do you have an idea / fix for this?

Flutter tree:
RefreshIndicator
      -- Container
           -- ValueListenableBuilder
                -- ReorderableGridView

Thank you very

[2021-11-12 15:00] karvulf commented on #7
Hi @timonaldenhoff

Thank you for your message.
I am not sure what exactly your problem is.
Is your `RefreshIndicator` above the `ReorderableWrap` and is not showing up?
Or do you have children that have a `RefreshIndicator`?

Maybe it would be easier to understand your problem with some example code.

[2021-11-12 15:46] timonaldenhoff commented on #7
Hello,

Thank you for your quick response.

When I wipe down the refresh indicator, nothing happens. With
the ReorderableWrap everything works as expected.

The Refreshindicator is above the ReordableWrap/Grid:

 return RefreshIndicator(
      key: fielsScreenState.refreshKey,
      color: Theme.of(context).primaryColor,
      onRefresh: () => syncFields(refreshKey: fielsScreenState.refreshKey),

[2021-11-12 16:17] karvulf commented on #7
Ah Ok, now I understand!
I'll check it out tomorrow @timonaldenhoff

[2021-11-13 14:06] #7 closed

[2021-11-13 14:13] karvulf commented on #7
I found your issue and fixed it.
If you use version 1.0.2, it should work also with GridView. Be sure to use `Clip.none` for `clipBehavior` when you scroll because otherwise the displayed content in iOS will be clipped when you scroll with a few items @timonaldenhoff

[2021-11-13 22:41] #5 closed

[2021-11-13 22:42] karvulf commented on #5
I have merged the branch and I hope it works as expected. @aytunch
Check out version `1.1.0` to test the new feature.
Be sure to add a unique key for every child and also you have to update your list when `onReorder` is called.

[2021-11-15 14:44] WD-J opened #10 "Making boxShadow customisable"
Hi - great package you've made! Would greatly appreciate the ability to customise the boxShadow. I have circular items with a square shadow. Wanting to change the color is also another use-case.

[2021-11-15 14:46] karvulf commented on #10
Hello @WD-J
Thank you for your request.
I will implement this usecase for you this evening und publish it.

[2021-11-15 14:48] WD-J commented on #10
Amazing response time. I greatly appreciate it. Thank you, @karvulf !

[2021-11-15 22:12] #10 closed

[2021-11-15 22:15] karvulf commented on #10
I added a new parameter called `dragChildBoxDecoration`
The default value for the BoxDecoration is
[code]

You can override that with your preferred BoxDecoration, just add the shape `BoxShape.circle`, your color and update the shadow if you want. :)

You can get the update with Version `1.1.3`. @WD-J

[2021-11-16 11:48] WD-J commented on #10
Amazing. Thank you so much!

[2021-11-23 17:30] karvulf opened #12 "Add animation when item released and repositioned"
After dragging an item, it goes to his new or old position without animation.
I would look nicer if there were an animation.

[2021-12-04 21:14] renannery opened #13 "Add support for ReorderableGridView.builder()"
When dealing with a large list, it can get pretty slow while scrolling.

I understand the implementation is different and quite challenging, but something to consider support for better performance.

[2021-12-05 12:09] RobinNerg commented on #13
Hello @renannery

Thank you for your feedback.
I will definitely take a look to improve that, I have some ideas.

[2021-12-05 12:10] karvulf commented on #13
Hello @renannery

Thank you for your feedback.
I will take a look to improve the performance. I have some ideas.

[2022-01-22 20:15] karvulf commented on #13
I released a new release candidate for the version 2.0.0.
I added the implementations for all types of GridViews, including `GridView.builder`. This also improve the performance generally.

If you want to try that, you can use the version `2.0.0-dev.1`.

@renannery

[2022-01-29 01:00] renannery commented on #13
Thank you! I've just tested and apparently, the animation stopped working when items are moving position in the gridview.
In my implementation, there is no user interaction with drag-and-drop, the elements change their positions randomly according to our API and until version 1.1.5 it works just fine.

Switching to `2.0.0-dev.1` using the default constructor `ReorderableGridView()` the animation w

[2022-01-29 09:10] karvulf commented on #13
Ah ok, this implementation is still in process.
Currently I only have rebuilt the drag and drop functionality.
The animation type is a bit more difficult, but if I am successfull, there will be another widget, that you can only use for that type of animation, sth like `AnimatedReorderableGridView` or both of them combined.
@renannery

[2022-02-01 22:27] karvulf commented on #13
There is a new update for the release candidate.
I added the missing animation for all types in the GridView. For `ReorderableWrap` it is currently not supported.

You can test`2.0.0-dev.2`. There you also should have a better performance when using `ReorderableGridView.builder`.
@renannery

[2022-02-09 14:08] MrDiezDOTcom opened #18 "Animation when programmatically changing items order is missing."
Hi,

First, thanks for your widget, it's really useful :)

Here's my feedback:

When you remove or insert an item the grid is animated, when you call _handleReorder while dragging the grid is also animated :D

But :/
if you call manually _handleReorder animation isn't working
here is my example (based on your example) that is not working:

`
class ExampleDragAndDropGridView extends StatefulWidget

[2022-02-09 14:38] karvulf commented on #18
Hi @MrDiezDOTcom
Thank you for testing that version.
In the next days, I will look to that problem, there are still some things, that I have to fix, so I check that also out.

But here are my thoughts about your example:
In your example, you used `ReorderableBuilder`. This builder only has the functionality to enable the drag and drop.
To get an animation when adding or removing items, there is th

[2022-02-09 17:41] karvulf commented on #18
Ok this is a bug and will be fixed for the `2.0.0-dev.4`

[2022-02-27 18:06] karvulf opened #21 "Released dragged item below GridView should order the item at the last position."
When I am dragging an item below the`GridView` and release that item, then it would be more logical, that this items reorders at the last position of the children.

[2022-02-28 09:50] karvulf commented on #13
Hello @renannery
Today, I released the official version `2.0.0`.
Now you have also support for `GridView.builder`. Check out the example too see more about that.

[2022-02-28 09:50] #13 closed

[2022-03-07 13:45] karvulf opened #27 "Bug: Weird behavior when updating items and using drag and drop afterwards"
I have 4 children and the first one is locked.
When I am updating some of them (excluding first one) and I am changing theirs positions, then some of them are going to wrong places.
It seems like the updated children are not getting their new position. So it could be a bug when building the updated widget that sth. is not called.

[2022-03-15 11:40] karvulf opened #28 "Add support for `Wrap`"
Currently, only all  types of `GridView` are supported for animation and drag and drop.
It would be nice to have also a support for `Wrap` because of similar behaviour.

[2022-03-15 15:04] karvulf commented on #27
Fixed in #30

[2022-03-15 15:04] #27 closed

[2022-03-17 22:57] RoyalCoder88 opened #31 "Saving the items order"
Hi Karvulf,

Can you please add the feature on how to save the order of times, so for the next time the user gets the list to have the order he saved?
Or can you guide me how to achieve this, please?

Thanks in advance!

[2022-03-18 07:26] karvulf commented on #31
Hi @RoyalCoder88,

I am not sure what you exactly want to know.
Do you want to know how you could update the order of your items, when you reordered them?

In my `read.me`-file I have an example with a list of fruits.
Or you could look in my folder `example`. There are some more examples when I update the list.

I hope that helps.

[2022-03-18 14:43] karvulf commented on #31
Sounds like you want to save that to your local storage.
I don't know how your items look, but generally if you want consistently save the order, your items needs something like an id for the order or you save them in a list with the correct order.

You could look for a package like **[GetStorage](https://pub.dev/packages/get_storage)** to save your data. @RoyalCoder88

[2022-03-18 16:59] RoyalCoder88 commented on #31
@karvulf I'm using [SharedPreferences](https://pub.dev/packages/shared_preferences) but can you guide how to achieve saving the order, please?

[2022-03-18 17:02] karvulf commented on #31
Do you have some code snippets for me? Or do you need some guides frm scratch? @RoyalCoder88

[2022-03-18 17:16] RoyalCoder88 commented on #31
@karvulf

My item code:

`import 'package:flutter/cupertino.dart';
import 'package:flutter/material.dart';
//import '/../constant/constant.dart';
import 'package:lottie/lottie.dart';

import '../pages/settings/settingGeneral.dart';
import '../widgets/menuGrid.dart';

class GridMenuItem2 extends StatelessWidget {
  GridMenuItem2({
    required this.color,
    required this.animId,
    required this

[2022-03-18 20:02] karvulf commented on #31
How did you use my example, can you add this code also? @RoyalCoder88

[2022-03-19 10:30] RoyalCoder88 commented on #31
Hi @karvulf

This is my code implementation:

`import 'package:cloud_firestore/cloud_firestore.dart';
import 'package:flutter/material.dart';
import 'package:flutter_reorderable_grid_view/entities/order_update_entity.dart';
import 'package:flutter_reorderable_grid_view/widgets/reorderable_builder.dart';
import 'package:shared_preferences/shared_preferences.dart';
import '../../widgets/app_placehol

[2022-03-19 10:35] karvulf commented on #31
Ok I see, there are some points, that are a bit unusual, Im coming back with an example, how you could write this code, so that it works for you @RoyalCoder88

[2022-03-19 10:36] RoyalCoder88 commented on #31
Thanks a lot @karvulf

[2022-03-19 13:14] karvulf commented on #31
Well your example is really difficult to fix like that is, so I created an example that could be similar to your code and I hope it helps.
I ignored some of your widgets just for simplicity. Also if you save data to your `shared_preferences`, you should never save your widgets. You should save a class, that has the data you need for your widget.
This is the reason, that I created the class `GridMe

[2022-03-19 13:14] #31 closed

[2022-03-19 17:22] RoyalCoder88 commented on #31
@karvulf Thanks a lot for your example I managed to remake my entire logic & code, thanks for your feature suggestion and thanks your support is amazing!

[2022-03-20 10:18] karvulf commented on #31
Glad to hear that and no problem!
Happy coding :) @RoyalCoder88

[2022-04-20 19:15] cybex-dev opened #32 "[Feature] onDrag status updated callbacks"
A great feature addition is for drag status callbacks, e.g. `onDragStarted()`.

**Use case:**
On long press and starting drag, light haptic feedback is given or a UI change is applied

[2022-04-21 06:06] karvulf commented on #32
Hi @cybex-dev
Thank you for your suggestion.

I can implement these callbacks. That should be no problem.

[2022-04-21 20:55] karvulf commented on #32
I published a new version: `2.1.0`.
I added your suggested callbacks `onDragStarted` and `onDragEnd`. See more on the example app or in the readmi.

I am closing this pull request, if you any other suggestions, feel free to open a new issue, thank you @cybex-dev !

[2022-04-21 20:55] #32 closed

[2022-05-01 18:53] karvulf commented on #4
Following problem found when implementing this functionality:

When the GridView only loads a specific amount of children, it is possible that the dragged child is disposed while scrolling. This problem leads to an unwished behavior.

[2022-05-05 16:32] govindmaheshwari2 opened #35 "On reordering tiles index item at last place"
I have a list of items but when I reorder index to 0 and pass it to grid view then if more than 10 items are present(one page contain 4 item max). the reordered tile came to last even its index is 0.

[2022-05-06 06:43] karvulf commented on #35
Hi @govindmaheshwari2
Could you provide some code that you used? That would help to understand what you are trying to do.

[2022-05-08 18:29] cavedweller opened #36 "Reorder not possible when there is an animation"
### Issue
When adding an animation I can no longer re-order the grid.

### Possible cause
I found that it might be the `setState((){})` in the animation listener. If you remove the `_expandAnimation.value` in the ` Transform.scale` and set the `scale` to 1, I can re-order due to the animation not being built.

<details>
<summary> Code </summary>

[code]
</details>

I do apologize that the code is

[2022-05-08 21:17] karvulf commented on #36
Hi @cavedweller,
thank you for opening this issue. That seems to be a special case. I will look into your problem in the next days.

[2022-05-08 21:35] karvulf commented on #36
Ok I found a workaround for your problem. Maybe not the best solution because the children are rebuilt every time you close and reopen the widget but it enables the behavior for reordering.

The explanation why it is currently not working:
It looks like the problem is that the children are built at a time when they are not displayed. This has issues when I calculate their offset. All the children

[2022-05-09 09:20] cavedweller commented on #36
Hi @karvulf, thank you so much for the quick response, I really do appreciate it👍😎

So I added the bit you suggested but it is still blocked from re-ordering. Not sure where I am going wrong here.

The new piece of code is below.

<details>

<summary> Code </summary>

[code]
</details>

[2022-05-09 11:04] karvulf commented on #36
Sounds great @cavedweller

[2022-05-09 17:35] cavedweller commented on #36
@karvulf after much testing it appears that its working perfectly, should I have any issues ill let you know 😎
Thanks again for your time and assistance 😃

[2022-05-09 17:35] #36 closed

[2022-05-10 06:03] karvulf commented on #36
Glad to hear that 👍 @cavedweller

[2022-05-11 18:45] karvulf commented on #4
Feature added to master and will be published with version `3.0.0`

[2022-05-11 18:45] #4 closed

[2022-05-14 09:45] RoyalCoder88 opened #37 "Flutter 3.0.0 is detecting issue with the library"
../../../Documents/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_reorderable_grid_view-2.1.0/lib/widgets/animated/reorderable_draggable.dart:184:22: Warning: Operand of null-aware operation '?.' has type 'WidgetsBinding' which excludes null.
 - 'WidgetsBinding' is from 'package:flutter/src/widgets/binding.dart' ('../../../Documents/flutter/packages/flutter/lib/src/widgets/binding.dart').

[2022-05-14 14:59] karvulf commented on #37
Hi @RoyalCoder88
I will make an update for the flutter upgrade.

The other issue is coming from breaking changes with version 3.0.0 of my package.
Now you have to add the `ScrollController` by yourself and a key to `GridView`. You can see more on the example.

[2022-05-14 15:13] karvulf commented on #37
I made an update `3.0.1` that should resolve the warnings.

Could you solve the other problem because of this package update @RoyalCoder88 ?

[2022-05-15 14:38] RoyalCoder88 commented on #37
@karvulf hi thanks, now everything it's perfect!
Have a great day and keep up the good job!

[2022-05-15 18:39] #37 closed

[2022-05-22 13:57] karvulf commented on #35
Closing this issue because I got no response.
If you are still having this issue, feel free to reopen it @govindmaheshwari2

[2022-05-22 13:57] #35 closed

[2022-05-29 13:35] naamapps commented on #28
Hey @karvulf,
I'm looking for an animated reordable wrap widget and couldn't find anything on Google.
Currently I have wrap widget that can dynamically remove and add items, but without animations and without the option to reorder the items.

I came across your package (and this issue) which is exactly what I was looking for.
So I want to ask you if you found a way to make this work?

Cheers

[2022-05-29 19:51] karvulf commented on #28
Hi @naamapps,

I didn't try to solve this but could take a look the next week. I think this feature will take a bit more work to implement it.

[2022-05-30 20:01] karvulf commented on #28
I have some updates @naamapps
I checked your requested feature and you should be able to use a `Wrap` with the `ReorderableBuilder`. I didn' test a lot, so it could be possible that there are some bugs.
If your `Wrap` has to be scrollable, you can add a `SingleChildScrollView`, e. g. like this:
[code]

It is important that you reorder the widget children by yourself to make sure that the child tha

[2022-05-31 05:14] naamapps commented on #28
That's great to hear @karvulf,
I'll check this ASAP and update you with the results.
Thanks :)

[2022-05-31 06:26] naamapps commented on #28
Ok so I tested and there are indeed a few bugs.

https://user-images.githubusercontent.com/37176893/171105194-4e45b573-25fa-454e-b8a5-e77e4933c112.mp4

1. There are a few hiccups when the last item (new tag input), go to the next line. can be seen in 0:14 - 0:17.
2. The reordering doesn't work properly at all.. the items sometime won't react to the position of the finger and also move out of posit

[2022-05-31 06:43] karvulf commented on #28
Yes you are right. But it looks that it should be not a big problem to solve that, I will try to make a pull request this weekend, so you can test it again. @naamapps
And big thanks for testing it! :)

[2022-05-31 06:45] naamapps commented on #28
Thank you for the support and the great package!
Looking forward to the new update 👍

[2022-06-05 19:20] karvulf commented on #28
Hi @naamapps ,
I have some updates for you. I tested this feature and I think, it would take a bit more work to have a reorderable Wrap because I have to do more calculations because the size of every child can be different.
So when I change the position while dragging, it could be that the other children have to get a complete new position.
So I think it could make more sense to create a new widg

[2022-06-06 11:01] naamapps commented on #28
Thanks for the update @karvulf,
I tested the new branch and didn't see much of a difference to be honest.. Still with the same bugs.
The thing is, I searched a lot and didn't find any package that have animated and recordable wrap like your package.
I will wait for your package to support it because it's the best I found.

Anyway, I appreciate your work.
Thanks

[2022-06-06 11:12] karvulf commented on #28
yeah, I was afraid of that, thanks for testing again. I will notify you when I have some updates about the new widget to support the reordering and animating behavior for `Wrap`. @naamapps

[2022-07-18 02:42] meomap opened #41 "_ReorderableBuilderState._checkForCollisions throws null cast error"
Hello, we noticed this exception thrown up at a rate of 1/1000 user . Probably an edge case and not a fatal one.

[code]

Sentry stacktrace:

[code]

[2022-07-18 06:44] karvulf commented on #41
Hello @meomap,

thank you for opening this issue. I will look into it and try to fix it 👍

[2022-07-19 17:44] karvulf commented on #41
I made an extra check with the new version `3.1.2`. If there are any other issues, feel free to open a new issue! Thanks again @meomap

[2022-07-20 01:08] meomap commented on #41
Awesome. Thank you very much for your quick support @karvulf

[2022-07-23 19:56] AmineLAHRIM opened #43 "Feature: Render children only in `itemBuilder` of GridView.builder"
even use
`ReorderableType reorderableType = ReorderableType.gridViewBuilder;`
so it means the library is not really using the viewport of rendering UI as GridView.Builder do

please if you can solve this issue will be game-changing for Animated GridView.

[2022-07-24 03:15] meomap opened #44 "_ReorderableBuilderState._handleDragEnd thows null check error"
Hello, thank you for your great package.

We've got this exception thrown at the production app.

[code]

Sentry stacktrace:
[code]

[2022-07-24 08:26] karvulf commented on #43
Hello @AmineLAHRIM
Thank you for opening the issue. I look into it and get in touch later

[2022-07-24 08:27] karvulf commented on #44
Hi @meomap
Thank you for opening the issue.
I will try to fix that problem

[2022-07-24 09:32] karvulf commented on #43
I found two issues. The first one is, that I am using the hashcode of every child key. This doesn't guarantee that every would be unique. But I could solve that issue by using the key instead of the hashcode.

The second problem is the behaviour, when using a `GridView.builder` in combination with `ReorderableBuilder`. Currently I expect to get all children that should be rendered inside `GirdView

[2022-07-24 09:54] karvulf commented on #44
I am wondering why that problem is happening. Could you share the code snippet of the part where you use `ReorderableBuilder`? Are you changing some values of `ReorderableBuilder` while dragging? @meomap

[2022-07-24 10:38] karvulf commented on #43
I have some updates about the other issue. I am looking forward to a solution that could work:

I will add a new function called `itemBuilder` which can be used for `GridView.builder`. This function will be called when `GridView.builder` is calling his own `itemBuilder`. The function returns the created widget with the functionality for drag and drop and other things.
This seems to work but there

[2022-07-24 12:07] meomap commented on #44
Sure, we use `ReorderableBuilder` to render a grid view of photo collection where user can add new photo, remove existing one and dragging to change order.

Here is code snippet:

[code]

[2022-07-24 12:23] meomap commented on #44
In `void handleReorder(List<OrderUpdateEntity> updates)`, we noticed that when user removed an item then immediately drag one at the end of list, `entry.oldIndex` sometimes equals current `items.length`. It happens occasionally and is reproducible in dev environment.

[2022-07-26 19:24] karvulf commented on #43
My optimism is gone a bit because the part to animated added or removed items is not that easy as I thought at first. My main problem is that I don't have enough control about the rendered children when they are removed or if their position has changed.
So probably this functionality could come with the next major version but it would take some time to implement that.

I will add this as feature t

[2022-07-26 19:25] karvulf commented on #43
Are you only interested for the animation when adding or removing items or would it also help if only the drag and drop functionality works? Because that would be possible to implement but I am not sure if that is the thing you wished for @AmineLAHRIM

[2022-07-26 19:36] karvulf commented on #28
I have some updates for you @naamapps

I made a road map for the next major version release `4.0.0`.
I added also your feature request. Unfortunately I don't have that much time currently, so I think it's realistic that this update could come in the end of this year.

[2022-07-26 20:07] karvulf commented on #44
I realized that this bug that you describe seems to happen when using `GridView.builder`. I also recognized that the animation of removing an item is not working.
So if you don't have a special reason to use `GridView.builder`, you could also use `GridView` as workaround. I will try to fix this problem in the next days. @meomap

[code]

[2022-07-26 20:10] karvulf commented on #44
I think I found a solution, so you could also wait for the update in the next days 👍  @meomap

[2022-07-26 21:45] AmineLAHRIM commented on #43
Only add and remove, and i know there too mch work their, because if not you will find flutter team did it as, andoid Team did with RecycleView

[2022-07-26 22:19] Tzanou123 opened #46 "Cant drag and drop in web"
Hello,

Thanks for this awesome dependancy

I was trying to copy your get started code into my app but on web platform i try to drag and drop but nothing happen !

No error in console

Any idea ?

[2022-07-26 23:03] Tzanou123 commented on #46
My bad i realized i have to long press for make it work

[2022-07-26 23:03] #46 closed

[2022-07-27 06:14] andreBalh commented on #43
What did the flutter team? I think one word is missing :D @AmineLAHRIM

[2022-07-27 08:27] meomap commented on #44
@karvulf It's ok, I think it's just a minor glitch and we don't have much users affected by it yet. I can use `GridView` as well. No need to hurry :)

Thank you so much for your support 👌

[2022-07-27 09:07] AmineLAHRIM commented on #43
Flutter team didn't do nothing about it
But Android Team did Recycle view that fix this issue

[2022-07-30 18:34] karvulf commented on #44
The bug should be fixed and released in a few minutes.
You can use version `3.1.3` for that. Also the animation for adding or removing your images should work now :)
I am closing this issue, if there are some other new issues with this update, feel free to open a new one

[2022-07-30 18:34] #44 closed

[2022-07-31 13:59] meomap commented on #44
That's great! @karvulf Thanks so much 👌

[2022-08-29 21:54] KtodaZ opened #49 "Draggable working on web but not on android"
Hello, i'm using `ReorderableBuilder` with `GridView.builder` and i'm able to drag on drop in web, but i'm unable to on Android.

Has anyone else had this problem and have you been able to fix?

[code]

[2022-08-30 13:19] karvulf commented on #49
Hi @KtodaZ
Thank you for opening your issue.
Do you have this problem on web using android device or just android as app?
And could you paste the code of your whole widget?
I am not sure if you declared the globalkey of your gridview globally.

[2022-08-30 16:45] maq10 opened #50 "The project is missing this file: change_children_bar.dart"
Your code is missing this file: change_children_bar.dart

[2022-08-30 16:52] karvulf commented on #50
Hi @maq10
How did you open the project and did you use the command `flutter pub get` on the example app? Because I don't see a problem finding the widget.

[2022-08-31 06:22] KtodaZ commented on #49
That's a great point, it could be that my globalKey is being regenerated every render. I went a different direction for now but i'm going to try and see if I can take another stab at implementing this library soon. Thanks for your work!

[2022-08-31 07:03] karvulf commented on #49
No problem, if any new problem is appearing, feel free to reopen this issue :) @KtodaZ

[2022-08-31 07:03] #49 closed

[2022-09-05 12:23] karvulf commented on #50
Closing this issue because of no answer. If you are still facing this problem, you can reopen this issue :) @maq10

[2022-09-05 12:23] #50 closed

[2022-09-20 10:55] zezo357 commented on #43
i would love to use the reorder animation with my gridview builder, from what i found this is the only package that allows gridview changes to be animated.

btw to be 100% sure, if the list changes without insert or remove its animated right?? (if they have the same key ofcourse)

so i waiting for that release ♥ hope it comes soon

[2022-09-20 11:11] karvulf commented on #43
If the list changes, e. g. an item is replaced or changes his position, that would be animated. You could also use your current `GridView.builder` but the performance could be bad if you have a lot of items in your GridView. @zezo357

[2022-09-20 11:14] zezo357 commented on #43
I have lots of items in my gridview and animations so I can't use the package In The current state🥲🥲🥲

So I will wait for the update for better performance ❤️

[2022-10-01 16:57] naamapps commented on #28
Hey @karvulf, just checking in.
Any updates?
Thanks

[2022-10-01 17:15] karvulf commented on #28
Hi @naamapps
I didn't have enough time to implement this feature but I think I will start in the end of this month and have hopefully some results in november

[2022-10-01 17:16] naamapps commented on #28
Thanks for the quick reply @karvulf, cheers 👍

[2022-10-04 21:37] objectorientedperson opened #51 "[Feature] Supporting Drag Target to Merge"
Use case:
Drag one item to another so that I can merge the one to another object when I drop. (It's like in Android/iOS home screen where you can drag apps to folders or drag into another that it creates a folder) Basically supporting both drag and drop, and when dropped into another item (before reorder) user can have ability to merge the items.

[2022-10-05 06:00] karvulf commented on #51
Hi @objectorientedperson
That sounds like a great feature and shouldn't be too hard too implement. I will add this feature to my roadmap for the next major version `4.0.0`.

[2022-10-05 20:03] karvulf commented on #43
I have some updates for you @zezo357 and @AmineLAHRIM
Currently I am working for the next major update and I am trying to optimize the `ReorderableGridView`. To do that I reimplemented the code.
That means that currently, the drag and drop functionality is not working but this one was never the big problem.
So I started with the animated functionality, especially to get a working solution for `Gri

[2022-10-06 10:29] objectorientedperson commented on #51
@karvulf thank you so much. Cannot wait!

[2022-10-07 16:43] zezo357 commented on #43
@karvulf Just tested it, I love it ♥ thank you very much♥

[2022-10-13 21:09] karvulf commented on #43
Currently I think the animation part for GridViews is almost working fluently, I still need to implement a correct animation behavior considering the current scrolling position inside the GridView but the rest should work without weird bugs.
As next step, I will implement the Drag and Drop functionality for all GridViews with some more animations that are documented in other issues.
When this is d

[2022-10-13 21:12] karvulf commented on #28
Just to inform you @naamapps
Currently I am working on the next major release. I found a good solution to have animations in GridViews with a good performance. So as next step I will add the drag and drop functionality. When all this is done, I will start trying to implement this same behavior for a Wrap but I am sure that this will not be that easy, so hopefully I will have good news at the end.

[2022-10-13 21:18] zezo357 commented on #43
For now the package does what I needed, and does so very well.

The drag and drop will be very good since it will do what the package is implemented for ❤️

[2022-10-24 11:36] HuyNguyen1590 opened #53 "Cannot scroll horizontal correctly"
Please provide an option to support  "Scroll while dragging" for horizontal gridview

[2022-10-24 11:46] HuyNguyen1590 commented on #53
Thanks for your reply. I tried a lot of package but this is package i like most. Hope to see version 4.0.0 soon

[2022-10-24 11:48] karvulf commented on #53
I will try to release it in the end of this year @HuyNguyen1590

[2022-10-30 10:02] Erfa opened #54 "Cannot change crossAxisCount dynamically"
I'm trying to build a reorderable grid view where the user can select the crossAxisCount value themselves. This causes a few problems. If I change crossAxisCount from 2 to 3, the item being dragged is is still of larger size from the previous value. The other items also don't move as you would expect.

Is this a known issue? I can probably get a minimal working example, but it should be trivial to

[2022-10-30 10:18] karvulf commented on #54
Hello @Erfa
thank you for opening the issue. This issue is new to me but I think I know why this happens. Is it urgent to fix that issue for you? If not, I would add a fix for that problem for the next major release.

[2022-10-30 10:20] Erfa commented on #54
Thanks for the quick reply @karvulf ! No worries, I'd be happy to get a fix at all. Feel free to place it in whatever version makes sense to you! It's a great package, I really think Flutter should have this built in.

[2022-10-30 10:25] karvulf commented on #54
The next major release still needs some time, so you have to wait at least until the end of this year. But if you need this fix in the next days/weeks, I could try to fix that issue also for this version because in my next update I completely recoded the package. @Erfa

[2022-10-30 20:52] Erfa commented on #54
I see! Well it would be convenient to get it earlier, so if the fix is easy I'd appreciate getting it in this version as well. But if it's tricky to get it into the old code no worries, I can work around it until the major version is released.

[2022-11-12 07:31] haoaiqing opened #55 "One page has multiple ReorderableBuilders"
One page has multiple ReorderableBuilders
When dragging, there will be an animation of flickering downward

[2022-11-12 09:19] karvulf commented on #55
Hello @haoaiqing
Thank you for opening the issue.
Do you have an example code for me where I could reproduce your issue?
A screen record would be also very helpful.

[2022-11-12 09:21] karvulf commented on #54
Hi @Erfa
Just to notify you that I didn’t forget you, I will take a further look today into your issue to estimate if I can make a fix for the current version :)

[2022-11-12 17:55] karvulf commented on #54
So I investigated your issue and I think I have found a solution that should work well.
The main issue for this package is, that it has no control about the used GridView. So e. g. if you change the `crossAxisCount`, I wouldn't know that the position of the children have changed because of that.
In this case, you have to update the `GlobalKey` used for the `GridView` (`_gridViewKey = GlobalKey();`

[2022-11-12 18:17] karvulf commented on #55
I tried to use two `GridView` with `ReorderableBuilder`. I couldn't find your described issue. So I would be glad to have minimal example to reproduce your issue. @haoaiqing

[2022-11-12 20:44] Erfa commented on #54
Yes, it seems to work, thank you @karvulf ! Although, setting a new GlobalKey only on the GridView still makes the tiles that automatically move around the one I drag to still move as if the tile size was the old one. If I also give a GlobalKey to ReorderableBuilder and update that, it fully works though. I'll go with that for now!

[2022-11-13 10:17] karvulf commented on #54
Ah I understand, that's a difficult usecase. I will consider that for the next major update, thank you!
I am closing this issue as solved. @Erfa

[2022-11-13 10:17] #54 closed

[2022-11-13 10:23] karvulf opened #56 "Bug: Changing `crossAxisCount` while dragging item leads to weird behavior"
This bug came from #54.

The following bug happens:
- adding `GridView` with `crossAxisCount` = 2
- start dragging item
- while dragging changing `crossAxisCount` to 3
- the dragged item still looks like the old one when `crossAxisCount` was 2

This bug should be fixed for the version `4.0.0`. It is also important to check, if there are more bugs when changing this value while dragging or animatin

[2022-11-15 12:50] haoaiqing commented on #55
@karvulf Hello Thank you for your reply

I wrote two ReorderableBuilders in Column
Then when I drag the items to reorder, the phenomenon in the video appears
https://user-images.githubusercontent.com/24805299/201922679-cfdbd9b7-5396-4dc0-a652-0daa358506ce.mp4

[2022-11-15 13:10] andreBalh commented on #55
Ah I see, this looks really weird, could you give me the code snippet that you used for that? @haoaiqing

[2022-11-15 13:11] karvulf commented on #55
Ah I see, this looks really weird, could you give me the code snippet that you used for that? @haoaiqing

[2022-11-16 01:41] haoaiqing commented on #55
[demo.zip](https://github.com/karvulf/flutter-reorderable-grid-view/files/10017293/demo.zip)
@karvulf Hello Thank you for your reply
I wrote a case code in the zip file above
Sorry for answering so late
The first time you drag it, there is no problem. Please drag another one, and then the flicker problem occurs

[2022-11-16 06:16] karvulf commented on #55
Thank you @haoaiqing
I will check your issue this week-end :)

[2022-11-16 06:27] haoaiqing commented on #55
Thank you @karvulf
By the way, the lowest ReorderableBuilder flashes more seriously only when the Column scrolls enough

[2022-11-20 20:32] karvulf commented on #55
I have some updates for you. The main issue is coming because of `GridView.builder`. If you just change this to `GridView` and add the children, the issue is gone.
If you used `GridView.builder` for performance improvements when having a lot of children, then this just don't work at the current version of this package. In the next major version (`4.0.0`), I will fix that issue. So at the moment, t

[2022-11-22 08:45] wuhangandroid opened #57 "Whether indexes can be added to the onDragStarted method"
Hello，Whether indexes can be added to the onDragStarted method，In this way, we can lock other child controls in lockedIndices and cannot drag them. Achieve single contact dragging

[2022-11-22 08:51] karvulf commented on #57
Hello @wuhangandroid
Thank you for opening the issue. Could you describe in more detail what you would like to have. I am not sure what you mean

[2022-11-22 08:58] wuhangandroid commented on #57
Now when you drag a child control, the other finger can continue to drag another child control. I wonder if this situation can be prohibited

[2022-11-22 09:04] karvulf commented on #57
Ah so you want to drag multiple children at once, so for every finger one child?

[2022-11-22 09:11] wuhangandroid commented on #57
I want to drag one child at a time

[2022-11-22 09:28] karvulf commented on #57
Ahhh now I understand, so basically, if you drag your child with one finger, you want to drag the same child with another finger? @wuhangandroid

[2022-11-22 09:40] wuhangandroid commented on #57
I want to achieve the opposite effect。When one child drags, others cannot be dragged

[2022-11-22 09:46] karvulf commented on #57
Oh I see, this shouldn't work, at least it isn't possible to change positions of two dragged items currently. I will mark this as a bug and will try to release a fix this week, thank you! @wuhangandroid

[2022-11-23 07:59] karvulf commented on #55
Closing this issue because of no activity, feel free to reopen if it still not work @haoaiqing

[2022-11-23 07:59] #55 closed